.birthdays {
    display: block;
    display: flex;
    flex-direction: column; 
    align-content: center;
    align-items: center;
    background-color: white;
    width: 27.67%;
    margin: 0 auto;
}

img {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}

body {
    background-color: blueviolet;
}
