* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: antiquewhite;
  color: red;
}

.output {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  height: 20rem;
}